<footer>
 <div class="container" style="margin-top: 50px;">
    <center>
    <p>Filip Olszewski 2021</p>
    
    <a href="/adminpanel" style="padding-bottom: 50px; padding-top:50px">Log into administration panel.</a>
    </center>
  </div>
</footer>