<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ristorane | <%= title %></title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        body { padding-top:50px; }
    </style>
</head>
<div class="container">
<body>
<%- include('../partials/nav.ejs') %>
        <div class="alert alert-warning" role="alert" style="margin-top:50px">
            To add new admin complete a form below.
        </div>
<%- include('../partials/alerts.ejs') %>
        <center>
       <div class="cointainer" style="width:50%; margin-top:50px; margin-bottom:50px">
        <form action="/adminpanel/admins/addadmin" method="post">
            <div class="mb-3">
                <label for="id-label" class="form-label">New admin ID</label>
                <input type="text" class="form-control" name="Id" id="idregister">
              </div>
              <div class="mb-3">
                <label for="name-label" class="form-label">Name</label>
                <input type="text" class="form-control" name="Name" id="nameregister">
              </div>
            <div class="mb-3">
              <label for="email-label" class="form-label">Email address</label>
              <input type="email" class="form-control" name="Email" id="emailregister"> 
            </div>
            <div class="mb-3">
              <label for="password-label" class="form-label">Password</label>
              <input type="password" class="form-control" name="Password" id="passwordregister">
            </div>
            <div class="mb-3">
                <label for="phone-label" class="form-label">Phone Number</label>
                <input type="text" class="form-control" name="Phone" id="phoneregister">
              </div>

            <button type="submit" class="btn btn-primary">Add new admin</button>
          </form>
        </div>
    </center>
</div>
<%- include('../partials/footer.ejs') %>
</body>
</html>